/* p{
    font-size: 20px;
    background-color: aqua;
}
table ,th,td{
    border: 1px solid white ;
    background-color: chartreuse;
    border-collapse:initial;
    
}
table{
    border-radius: 10px;
} */